@import url("https://fonts.googleapis.com/css2?family=Afacad:wght@400;500;600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  width: 100vw;
  overflow-x: hidden;
  color: rgb(var(--foreground-rgb));
  background: rgb(48, 46, 46);
  background: radial-gradient(
    circle,
    rgba(48, 46, 46, 1) 0%,
    rgba(32, 31, 31, 1) 47%,
    rgba(12, 15, 20, 1) 100%
  );
}
